body {
    background-color: #dcf1ef;
}

h1 {
    color: #99cdf5;
    font-size: 100px;
    position: fixed;
    left: 50px;
    top: -10px;
}

.vl1 {
    border-left: 5px dotted #99cdf5;
    height: 80%;
    position:fixed;
    left: 50%;
    top: 11%;
}

#li {
    position: fixed;
    top: 300px;
    width: 400px;
    height: 70px;
    left: 140px;
    font-size: 50px;
    border-radius: 20px;
    background-color: #99cdf5;
    color:#dcf1ef;
    border-color: #dcf1ef;
    border-style: solid;
    cursor: pointer;
}

#ad {
    position: fixed;
    top: 400px;
    width: 400px;
    height: 70px;
    left: 140px;
    font-size: 50px;
    border-radius: 20px;
    background-color: #99cdf5;
    color: #dcf1ef;
    border-color: #dcf1ef;
    border-style: solid;
    cursor: pointer;
}

#ex {
    position: fixed;
    top: 500px;
    width: 400px;
    height: 70px;
    left: 140px;
    font-size: 50px;
    border-radius: 20px;
    background-color: #99cdf5;
    color:#dcf1ef;
    border-color: #dcf1ef;
    border-style: solid;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 100px 200px;
    font-size: 27px;
    border:5px solid #73b5c6;
}

.g {
    position:relative;
    left: 765px;
    top: 10px;
    text-align: center;
    border:5px solid #73b5c6;
}

#ti {
    position: fixed;
    left: 915px;
    top: 200px;
    width: 380px;
}

#au {
    position: fixed;
    left: 915px;
    top: 240px;
    width: 380px;
}

#an {
    position: fixed;
    left: 915px;
    top: 280px;
    width: 380px;
}

#ge {
    position: fixed;
    left: 915px;
    top: 320px;
    width: 380px;
}

#co {
    position: fixed;
    left: 915px;
    top: 360px;
    width: 120px;
    border-radius: 20px;
    background-color: #99cdf5;
    font-size: 20px;
    color: #dcf1ef;
    border-color: #dcf1ef;
    box-shadow: 2px 4px #73b5c6;
    border-style: solid;
}

.fundo {
    position: fixed;
    background-color: #dcf1ef;
    width: 730px;
    height: 720px;
    left: 750px;
}

#ser {
    width: 380px;
    left: 815px;
    position: fixed;
    top: 40%;
}

#edi {
    font-size: large;
    position: fixed;
    left: 870px;
    top: 45%;
}

#con {
    position: fixed;
    left: 1120px;
    top: 53%;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: #99cdf5;
    color:#dcf1ef;
    border-color: #dcf1ef;
    border-style: solid;
    cursor: pointer;   
}